.alert {
  width: 100%;
  background-color: #f7f7f7;
  color: #000;
}

.alert > p {
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
  letter-spacing: -.25px;
}
