.banner {
  height: 85vh;
  position: relative;
  background: url("https://a0.muscache.com/im/pictures/48738093-5bae-4223-9cab-aa1be937305f.jpg?im_w=1920");
  background-size: cover;
}

.banner__info {
  color: #000;
  padding: 16.2vh 80px 40px 80px;
  width: 500px;
  position: absolute;
  bottom: 130px;
}

.banner__info > h1 {
  font-size: 40px;
}

.banner__info > button {
  background-color: #ff7779;
  color: #fff;
  text-transform: inherit;
  font-weight: 600;
  margin-top: 20px;
}

.banner__info > button:hover {
  background-color: #fff;
  color: #ff7779;
}

.banner__search {
  display: flex;
  flex-direction: column;
}

.banner__searchButton {
  background-color: #fff !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: #ff7779 !important;
  border: none !important;
}

.banner__info > h5 {
  margin-top: 10px;
  line-height: 18px;
  font-weight: 14px;
  max-width: 300px;
}
