.search {
  width: 100%;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.search__form {
  display: flex;
  align-items: center;
  justify-content: start;
  border: none;
}

.search__form {
  background-color: #fff;
  width: 90%;
  height: 20px;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}

.search__form input {
  border: none;
  background-color: transparent;
  font-size: 16px;
}
